  moves   /*     
 {        4  _      8     _         6    _        6    _          5    _      3    _        7  _   1       }
    */
    game     //
  (
-  -  - -     -   -    -  - -     -    -   #
- - -    -   -   -     - -     -   -   -    \
-  -    -   -    -  -    -    -  -  -    -     |
-     -  -   - -     -  -   -   -  - - #
-    -   -  - -  -   -  -  -     -  -     |
-  -     - -     - -  -   -    -  -  -    #
- -   - -     -    - -  -     -    -     -     #
-  -  -  -  -     -     -     -  -    -    - \
-     -  - - -     - - -     -     -   -  |
-    -    -     -     -    -     -  -     -  -   -   #
-    - - -   - -  -  -     -     - -    #
-   -     -    1    -  -     -    -  -  -    -   \
- 2  1 1     - -     -     -   - 2    -
     )
   --!>
