Columns <! - -
<! - - 492 - 49 - 57 = 52 _ 53 = 56 _ 50
_ 53 _ 54 = 49 _ 53 - 56 _ 492 _
57 = 49 }
//
game /*
[
- - - - - - - - - - - - - |
- - - - - - - - - - - - - |
- - - - - - - - - - - - - |
- - - - - - - - - - - - - |
- - - - - - - - - - - - - |
- - - - - - - - - - - - - |
- - - - - - - - - - - - - |
- - - - - - - - - - - - - |
- - - - - - - - - - - - - |
- - - - - - - - - - - - - |
- - - - - - - - - - - 3 - |
- 1 - - 1 - - 2 - - - 2 3
]
*/
